<!DOCTYPE html>
<html lang="en">
<link>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../utils/scrollbar.css"></link>
  <link rel="stylesheet" href="./index.css"></link>
  <script type="module" src="./index.js"></script>
</head>
<body>
  <div v-scope>
    <div class="editor" v-if="isEditor">
      <textarea placeholder="JSON内容" v-model="editorContent"></textarea>
      <div>
        <button @click="onEditor">取消</button>
        <button @click="onSave">保存</button>
      </div>
    </div>
    <div v-else>
      <div>
        <button @click="onEditor">编辑JSON</button>
      </div>
      <div class="card" v-for="card, cardI in cards" :key="card.id">
        <div class="header">
          <button @click="onExecution(card)">{{ cardI + 1 }}. 执行</button>
          <input placeholder="备注" v-model="card.remark" @change="onUpdate"></input>
          <button @click="onCardAdd(cardI)">新增</button>
          <button @click="onCardDel(cardI)" theme="red" :disabled="cards.length === 1">删除</button>
        </div>
        <textarea placeholder="* 脚本" rows="6" v-model="card.script" @change="onUpdate"></textarea>
        <div class="url" v-for="url, urlI in card.urls" :key="url.id">
          <button @click="onUrlAdd(card.urls, urlI)">+</button>
          <button @click="onUrlDel(card.urls, urlI)" theme="red" :disabled="card.urls.length === 1">x</button>
          <input placeholder="此网址自动执行" v-model="url.target" @change="onUpdate"></input>
          <button class="open" @click="onUrlOpen(url.target)">↗</button>
          <input class="redirect" placeholder="执行后重定向到" v-model="url.redirect" @change="onUpdate"></input>
        </div>
      </div>
    </div>
  </div>
</body>
</html>